p10_EFdll/obj/Debug/netcoreapp3.0/p10_EFdll.pdb
p10_EntityFrDll/obj/p10_EntityFrDll.csproj.nuget.cache
p10_EntityFrDll/obj/p10_EntityFrDll.csproj.nuget.dgspec.json
p10_EntityFrDll/obj/p10_EntityFrDll.csproj.nuget.g.props
p10_EntityFrDll/obj/p10_EntityFrDll.csproj.nuget.g.targets
p10_EntityFrDll/obj/project.assets.json
p10_EntityFrDll/obj/project.packagespec.json
p10_EntityFrDll/obj/Debug/netcoreapp3.0/p10_EntityFrDll.AssemblyInfo.cs
p10_EntityFrDll/obj/Debug/netcoreapp3.0/p10_EntityFrDll.AssemblyInfoInputs.cache
p10_EntityFrDll/obj/Debug/netcoreapp3.0/p10_EntityFrDll.assets.cache
p11_DesighnPatterns/bin/Debug/netcoreapp3.0/p11_DesighnPatterns.deps.json
p11_DesighnPatterns/bin/Debug/netcoreapp3.0/p11_DesighnPatterns.dll
p11_DesighnPatterns/bin/Debug/netcoreapp3.0/p11_DesighnPatterns.exe
p11_DesighnPatterns/bin/Debug/netcoreapp3.0/p11_DesighnPatterns.pdb
p11_DesighnPatterns/bin/Debug/netcoreapp3.0/p11_DesighnPatterns.runtimeconfig.dev.json
p11_DesighnPatterns/bin/Debug/netcoreapp3.0/p11_DesighnPatterns.runtimeconfig.json
p11_DesighnPatterns/obj/p11_DesighnPatterns.csproj.nuget.cache
p11_DesighnPatterns/obj/p11_DesighnPatterns.csproj.nuget.dgspec.json
p11_DesighnPatterns/obj/p11_DesighnPatterns.csproj.nuget.g.props
p11_DesighnPatterns/obj/p11_DesighnPatterns.csproj.nuget.g.targets
p11_DesighnPatterns/obj/project.assets.json
p11_DesighnPatterns/obj/project.packagespec.json
p11_DesighnPatterns/obj/Debug/netcoreapp3.0/p11_DesighnPatterns.AssemblyInfo.cs
p11_DesighnPatterns/obj/Debug/netcoreapp3.0/p11_DesighnPatterns.AssemblyInfoInputs.cache
p11_DesighnPatterns/obj/Debug/netcoreapp3.0/p11_DesighnPatterns.assets.cache
p11_DesighnPatterns/obj/Debug/netcoreapp3.0/p11_DesighnPatterns.csproj.FileListAbsolute.txt
p11_DesighnPatterns/obj/Debug/netcoreapp3.0/p11_DesighnPatterns.csprojAssemblyReference.cache
p11_DesighnPatterns/obj/Debug/netcoreapp3.0/p11_DesighnPatterns.dll
p11_DesighnPatterns/obj/Debug/netcoreapp3.0/p11_DesighnPatterns.exe
p11_DesighnPatterns/obj/Debug/netcoreapp3.0/p11_DesighnPatterns.pdb
p12_MultiThreading/bin/Debug/netcoreapp3.0/p12_MultiThreading.deps.json
p12_MultiThreading/bin/Debug/netcoreapp3.0/p12_MultiThreading.dll
p12_MultiThreading/bin/Debug/netcoreapp3.0/p12_MultiThreading.exe
p12_MultiThreading/bin/Debug/netcoreapp3.0/p12_MultiThreading.pdb
p12_MultiThreading/bin/Debug/netcoreapp3.0/p12_MultiThreading.runtimeconfig.dev.json
p12_MultiThreading/bin/Debug/netcoreapp3.0/p12_MultiThreading.runtimeconfig.json
p12_MultiThreading/obj/p12_MultiThreading.csproj.nuget.cache
p12_MultiThreading/obj/p12_MultiThreading.csproj.nuget.dgspec.json
p12_MultiThreading/obj/p12_MultiThreading.csproj.nuget.g.props
p12_MultiThreading/obj/p12_MultiThreading.csproj.nuget.g.targets
p12_MultiThreading/obj/project.assets.json
p12_MultiThreading/obj/project.packagespec.json
p12_MultiThreading/obj/Debug/netcoreapp3.0/p12_MultiThreading.AssemblyInfo.cs
p12_MultiThreading/obj/Debug/netcoreapp3.0/p12_MultiThreading.AssemblyInfoInputs.cache
p12_MultiThreading/obj/Debug/netcoreapp3.0/p12_MultiThreading.assets.cache
p12_MultiThreading/obj/Debug/netcoreapp3.0/p12_MultiThreading.csproj.FileListAbsolute.txt
p12_MultiThreading/obj/Debug/netcoreapp3.0/p12_MultiThreading.csprojAssemblyReference.cache
p12_MultiThreading/obj/Debug/netcoreapp3.0/p12_MultiThreading.dll
p12_MultiThreading/obj/Debug/netcoreapp3.0/p12_MultiThreading.exe
p12_MultiThreading/obj/Debug/netcoreapp3.0/p12_MultiThreading.pdb
p10_DotNetDbTools/obj/Debug/netcoreapp3.0/p10_DotNetDbTools.AssemblyInfoInputs.cache
p10_DotNetDbTools/obj/Debug/netcoreapp3.0/p10_DotNetDbTools.assets.cache
p10_DotNetDbTools/obj/Debug/netcoreapp3.0/p10_DotNetDbTools.csproj.FileListAbsolute.txt
p10_DotNetDbTools/obj/Debug/netcoreapp3.0/p10_DotNetDbTools.csprojAssemblyReference.cache
p10_DotNetDbTools/obj/Debug/netcoreapp3.0/p10_DotNetDbTools.dll
p10_DotNetDbTools/obj/Debug/netcoreapp3.0/p10_DotNetDbTools.exe
p10_DotNetDbTools/obj/Debug/netcoreapp3.0/p10_DotNetDbTools.pdb
p10_EFdll/bin/Debug/netcoreapp3.0/appsettings.json
p10_EFdll/bin/Debug/netcoreapp3.0/p10_DotNetDbTools.dll
p10_EFdll/bin/Debug/netcoreapp3.0/p10_DotNetDbTools.pdb
p10_EFdll/bin/Debug/netcoreapp3.0/p10_EFdll.deps.json
p10_EFdll/bin/Debug/netcoreapp3.0/p10_EFdll.dll
p10_EFdll/bin/Debug/netcoreapp3.0/p10_EFdll.pdb
p10_EFdll/obj/p10_EFdll.csproj.nuget.cache
p10_EFdll/obj/p10_EFdll.csproj.nuget.dgspec.json
p10_EFdll/obj/p10_EFdll.csproj.nuget.g.props
p10_EFdll/obj/p10_EFdll.csproj.nuget.g.targets
p10_EFdll/obj/project.assets.json
p10_EFdll/obj/project.packagespec.json
p10_EFdll/obj/Debug/netcoreapp3.0/p10_EFdll.AssemblyInfo.cs
p10_EFdll/obj/Debug/netcoreapp3.0/p10_EFdll.AssemblyInfoInputs.cache
p10_EFdll/obj/Debug/netcoreapp3.0/p10_EFdll.assets.cache
p10_EFdll/obj/Debug/netcoreapp3.0/p10_EFdll.csproj.CopyComplete
p10_EFdll/obj/Debug/netcoreapp3.0/p10_EFdll.csproj.FileListAbsolute.txt
p10_EFdll/obj/Debug/netcoreapp3.0/p10_EFdll.csprojAssemblyReference.cache
p10_EFdll/obj/Debug/netcoreapp3.0/p10_EFdll.dll
ConsoleApp1/obj/ConsoleApp1.csproj.nuget.cache
ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
ConsoleApp1/obj/project.assets.json
ConsoleApp1/obj/project.packagespec.json
ConsoleApp1/obj/Debug/netcoreapp3.0/ConsoleApp1.AssemblyInfo.cs
ConsoleApp1/obj/Debug/netcoreapp3.0/ConsoleApp1.AssemblyInfoInputs.cache
ConsoleApp1/obj/Debug/netcoreapp3.0/ConsoleApp1.assets.cache
Multithreading/README.md
p06_Reflection/bin/Debug/netcoreapp3.0/p06_Reflection.deps.json
p06_Reflection/bin/Debug/netcoreapp3.0/p06_Reflection.dll
p06_Reflection/bin/Debug/netcoreapp3.0/p06_Reflection.exe
p06_Reflection/bin/Debug/netcoreapp3.0/p06_Reflection.pdb
p06_Reflection/bin/Debug/netcoreapp3.0/p06_Reflection.runtimeconfig.dev.json
p06_Reflection/bin/Debug/netcoreapp3.0/p06_Reflection.runtimeconfig.json
p06_Reflection/obj/p06_Reflection.csproj.nuget.cache
p06_Reflection/obj/p06_Reflection.csproj.nuget.dgspec.json
p06_Reflection/obj/p06_Reflection.csproj.nuget.g.props
p06_Reflection/obj/p06_Reflection.csproj.nuget.g.targets
p06_Reflection/obj/project.assets.json
p06_Reflection/obj/project.packagespec.json
p06_Reflection/obj/Debug/netcoreapp3.0/p06_Reflection.AssemblyInfo.cs
p06_Reflection/obj/Debug/netcoreapp3.0/p06_Reflection.AssemblyInfoInputs.cache
p06_Reflection/obj/Debug/netcoreapp3.0/p06_Reflection.assets.cache
p06_Reflection/obj/Debug/netcoreapp3.0/p06_Reflection.csproj.FileListAbsolute.txt
p06_Reflection/obj/Debug/netcoreapp3.0/p06_Reflection.csprojAssemblyReference.cache
p06_Reflection/obj/Debug/netcoreapp3.0/p06_Reflection.dll
p06_Reflection/obj/Debug/netcoreapp3.0/p06_Reflection.exe
p06_Reflection/obj/Debug/netcoreapp3.0/p06_Reflection.pdb
p07_Attributes/bin/Debug/netcoreapp3.0/p07_Attributes.deps.json
p07_Attributes/bin/Debug/netcoreapp3.0/p07_Attributes.dll
p07_Attributes/bin/Debug/netcoreapp3.0/p07_Attributes.exe
p07_Attributes/bin/Debug/netcoreapp3.0/p07_Attributes.pdb
p07_Attributes/bin/Debug/netcoreapp3.0/p07_Attributes.runtimeconfig.dev.json
p07_Attributes/bin/Debug/netcoreapp3.0/p07_Attributes.runtimeconfig.json
p07_Attributes/obj/p07_Attributes.csproj.nuget.cache
p07_Attributes/obj/p07_Attributes.csproj.nuget.dgspec.json
p07_Attributes/obj/p07_Attributes.csproj.nuget.g.props
p07_Attributes/obj/p07_Attributes.csproj.nuget.g.targets
p07_Attributes/obj/project.assets.json
p07_Attributes/obj/project.packagespec.json
p07_Attributes/obj/Debug/netcoreapp3.0/p07_Attributes.AssemblyInfo.cs
p07_Attributes/obj/Debug/netcoreapp3.0/p07_Attributes.AssemblyInfoInputs.cache
p07_Attributes/obj/Debug/netcoreapp3.0/p07_Attributes.assets.cache
p07_Attributes/obj/Debug/netcoreapp3.0/p07_Attributes.csproj.FileListAbsolute.txt
p07_Attributes/obj/Debug/netcoreapp3.0/p07_Attributes.csprojAssemblyReference.cache
p07_Attributes/obj/Debug/netcoreapp3.0/p07_Attributes.dll
p07_Attributes/obj/Debug/netcoreapp3.0/p07_Attributes.exe
p07_Attributes/obj/Debug/netcoreapp3.0/p07_Attributes.pdb
p09_Delegates/bin/Debug/netcoreapp3.0/p09_Delegates.deps.json
p09_Delegates/bin/Debug/netcoreapp3.0/p09_Delegates.dll
p09_Delegates/bin/Debug/netcoreapp3.0/p09_Delegates.exe
p09_Delegates/bin/Debug/netcoreapp3.0/p09_Delegates.pdb
p09_Delegates/bin/Debug/netcoreapp3.0/p09_Delegates.runtimeconfig.dev.json
p09_Delegates/bin/Debug/netcoreapp3.0/p09_Delegates.runtimeconfig.json
p09_Delegates/obj/p09_Delegates.csproj.nuget.cache
p09_Delegates/obj/p09_Delegates.csproj.nuget.dgspec.json
p09_Delegates/obj/p09_Delegates.csproj.nuget.g.props
p09_Delegates/obj/p09_Delegates.csproj.nuget.g.targets
p09_Delegates/obj/project.assets.json
p09_Delegates/obj/project.packagespec.json
p09_Delegates/obj/Debug/netcoreapp3.0/p09_Delegates.AssemblyInfo.cs
p09_Delegates/obj/Debug/netcoreapp3.0/p09_Delegates.AssemblyInfoInputs.cache
p09_Delegates/obj/Debug/netcoreapp3.0/p09_Delegates.assets.cache
p09_Delegates/obj/Debug/netcoreapp3.0/p09_Delegates.csproj.FileListAbsolute.txt
p09_Delegates/obj/Debug/netcoreapp3.0/p09_Delegates.csprojAssemblyReference.cache
p09_Delegates/obj/Debug/netcoreapp3.0/p09_Delegates.dll
p09_Delegates/obj/Debug/netcoreapp3.0/p09_Delegates.exe
p09_Delegates/obj/Debug/netcoreapp3.0/p09_Delegates.pdb
p10_AdoNetDll/bin/Debug/netcoreapp3.0/appsettings.json
p10_AdoNetDll/bin/Debug/netcoreapp3.0/p10_AdoNetDll.deps.json
p10_AdoNetDll/bin/Debug/netcoreapp3.0/p10_AdoNetDll.dll
p10_AdoNetDll/bin/Debug/netcoreapp3.0/p10_AdoNetDll.pdb
p10_AdoNetDll/bin/Debug/netcoreapp3.0/p10_DotNetDbTools.dll
p10_AdoNetDll/bin/Debug/netcoreapp3.0/p10_DotNetDbTools.pdb
p10_AdoNetDll/obj/p10_AdoNetDll.csproj.nuget.cache
p10_AdoNetDll/obj/p10_AdoNetDll.csproj.nuget.dgspec.json
p10_AdoNetDll/obj/p10_AdoNetDll.csproj.nuget.g.props
p10_AdoNetDll/obj/p10_AdoNetDll.csproj.nuget.g.targets
p10_AdoNetDll/obj/project.assets.json
p10_AdoNetDll/obj/project.packagespec.json
p10_AdoNetDll/obj/Debug/netcoreapp3.0/p10_AdoNetDll.AssemblyInfo.cs
p10_AdoNetDll/obj/Debug/netcoreapp3.0/p10_AdoNetDll.AssemblyInfoInputs.cache
p10_AdoNetDll/obj/Debug/netcoreapp3.0/p10_AdoNetDll.assets.cache
p10_AdoNetDll/obj/Debug/netcoreapp3.0/p10_AdoNetDll.csproj.CopyComplete
p10_AdoNetDll/obj/Debug/netcoreapp3.0/p10_AdoNetDll.csproj.FileListAbsolute.txt
p10_AdoNetDll/obj/Debug/netcoreapp3.0/p10_AdoNetDll.csprojAssemblyReference.cache
p10_AdoNetDll/obj/Debug/netcoreapp3.0/p10_AdoNetDll.dll
p10_AdoNetDll/obj/Debug/netcoreapp3.0/p10_AdoNetDll.pdb
p10_DbMain/bin/Debug/netcoreapp3.0/appsettings.json
p10_DbMain/bin/Debug/netcoreapp3.0/Humanizer.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Data.SqlClient.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Abstractions.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Design.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Relational.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.SqlServer.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Caching.Abstractions.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Caching.Memory.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.Abstractions.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.FileExtensions.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.Json.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.DependencyInjection.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileProviders.Abstractions.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileProviders.Physical.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileSystemGlobbing.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Logging.Abstractions.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Logging.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Options.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Primitives.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Identity.Client.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.JsonWebTokens.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Logging.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Protocols.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Tokens.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Win32.Registry.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
p10_DbMain/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
p10_DbMain/bin/Debug/netcoreapp3.0/p10_AdoNetDll.dll
p10_DbMain/bin/Debug/netcoreapp3.0/p10_AdoNetDll.pdb
p10_DbMain/bin/Debug/netcoreapp3.0/p10_DbMain.deps.json
p10_DbMain/bin/Debug/netcoreapp3.0/p10_DbMain.dll
p10_DbMain/bin/Debug/netcoreapp3.0/p10_DbMain.exe
p10_DbMain/bin/Debug/netcoreapp3.0/p10_DbMain.pdb
p10_DbMain/bin/Debug/netcoreapp3.0/p10_DbMain.runtimeconfig.dev.json
p10_DbMain/bin/Debug/netcoreapp3.0/p10_DbMain.runtimeconfig.json
p10_DbMain/bin/Debug/netcoreapp3.0/p10_DotNetDbTools.dll
p10_DbMain/bin/Debug/netcoreapp3.0/p10_DotNetDbTools.pdb
p10_DbMain/bin/Debug/netcoreapp3.0/p10_EFdll.dll
p10_DbMain/bin/Debug/netcoreapp3.0/p10_EFdll.pdb
p10_DbMain/bin/Debug/netcoreapp3.0/System.Collections.Immutable.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.ComponentModel.Annotations.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.Configuration.ConfigurationManager.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.Diagnostics.DiagnosticSource.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.Drawing.Common.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.IdentityModel.Tokens.Jwt.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.Runtime.Caching.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.Runtime.CompilerServices.Unsafe.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.Security.AccessControl.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.Security.Cryptography.ProtectedData.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.Security.Permissions.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.Security.Principal.Windows.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.Text.Encoding.CodePages.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.Text.Json.dll
p10_DbMain/bin/Debug/netcoreapp3.0/System.Windows.Extensions.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netstandard2.0/Microsoft.Win32.Registry.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Text.Encoding.CodePages.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
p10_DbMain/bin/Debug/netcoreapp3.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
p10_DbMain/obj/p10_DbMain.csproj.nuget.cache
p10_DbMain/obj/p10_DbMain.csproj.nuget.dgspec.json
p10_DbMain/obj/p10_DbMain.csproj.nuget.g.props
p10_DbMain/obj/p10_DbMain.csproj.nuget.g.targets
p10_DbMain/obj/project.assets.json
p10_DbMain/obj/project.packagespec.json
p10_DbMain/obj/Debug/netcoreapp3.0/p10_DbMain.AssemblyInfo.cs
p10_DbMain/obj/Debug/netcoreapp3.0/p10_DbMain.AssemblyInfoInputs.cache
p10_DbMain/obj/Debug/netcoreapp3.0/p10_DbMain.assets.cache
p10_DbMain/obj/Debug/netcoreapp3.0/p10_DbMain.csproj.CopyComplete
p10_DbMain/obj/Debug/netcoreapp3.0/p10_DbMain.csproj.FileListAbsolute.txt
p10_DbMain/obj/Debug/netcoreapp3.0/p10_DbMain.csprojAssemblyReference.cache
p10_DbMain/obj/Debug/netcoreapp3.0/p10_DbMain.dll
p10_DbMain/obj/Debug/netcoreapp3.0/p10_DbMain.exe
p10_DbMain/obj/Debug/netcoreapp3.0/p10_DbMain.pdb
p10_DotNetDbTools/bin/Debug/netcoreapp3.0/appsettings.json
p10_DotNetDbTools/bin/Debug/netcoreapp3.0/p10_DotNetDbTools.deps.json
p10_DotNetDbTools/bin/Debug/netcoreapp3.0/p10_DotNetDbTools.dll
p10_DotNetDbTools/bin/Debug/netcoreapp3.0/p10_DotNetDbTools.pdb
p10_DotNetDbTools/bin/Debug/netcoreapp3.0/p10_DotNetDbTools.runtimeconfig.dev.json
p10_DotNetDbTools/bin/Debug/netcoreapp3.0/p10_DotNetDbTools.runtimeconfig.json
p10_DotNetDbTools/obj/p10_DotNetDbTools.csproj.nuget.cache
p10_DotNetDbTools/obj/p10_DotNetDbTools.csproj.nuget.dgspec.json
p10_DotNetDbTools/obj/p10_DotNetDbTools.csproj.nuget.g.props
p10_DotNetDbTools/obj/p10_DotNetDbTools.csproj.nuget.g.targets
p10_DotNetDbTools/obj/project.assets.json
p10_DotNetDbTools/obj/project.packagespec.json
p10_DotNetDbTools/obj/Debug/netcoreapp3.0/p10_DotNetDbTools.AssemblyInfo.cs
